body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
  background-color: #d6cbec
}

/* STYLE TEXT */
h1 {
  font-style: ;
  color: #5a2caf;
  text-align: center;
  font-family: "Monaco", "Monospace";
  text-decoration: underline overline;
}

h2 {
  margin-top: 2em; 
  text-align: center;
  color: hotpink
}

/* STYLE FLEX CONTAINER */
.question {
  display: flex;
/*   uncomment the next line to center the questions and answers */ 
  justify-content: center;
  margin-top: 2em;
}
  
/* STYLE FLEX ITEM */
.answer-choice {
  margin: 5px;
}

/* STYLE IMAGES */
.answer-choice img {
  height: 12em;
  width: 14em;
  border-width: 3px;
  border-style: dashed;
  border-color: paleviolet;
  
  
}

/* STYLE BUTTON */
button { 
  margin-top: 5px; 

  width: 100%;
  padding-top:10px;
  padding-bottom:10px;
  
  background-color: #e693d4;
  border-style: none;
  font-size: 20px;
  font-family: 'Arial', sans-serif;
  cursor: pointer;
  font-color: purple
}

button:hover {
  background-color:#f5b8ed;
}

p{
  text-align: center;
  font-family: "Copperplate","Fantasy";
}
